/* || RESET */
*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* || VARIABLES */
:root{

    /* FONTS */
    --FF:roboto;

    /* COLORS */
    --BGCOLOR:#f3f3f3;
    --FCOLOR:#383e4d;
   
 }
/* || GENERAL STYLE */
.header{
    background-color: var(--BGCOLOR);
}
.header-nav{
    display: flex;
    justify-content: center;
}
.header-nav:hover{
    background-color: white;
}
.nav-left{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width:60%;
    align-items: center;
    cursor: pointer;
}
.navigation-button{
    display: none;
}
/* DROPDOWN */

.p-drpdwn{
    position: relative;
}
.product-dropdown{
    list-style: none;
    position: absolute;
    width: 225px;
    height: 311px;
    z-index: 1;
    opacity: 0;
    transition: all .3s ease-in-out;
    background-color: white;
padding: 20px;
    top: 18px;
    left: -65px;


}
.product-dropdown a{
    font-size: 18px;
    font-weight: 700;
    font-family: serif;
    text-decoration: none;
    color: var(--FCOLOR);
    line-height: 40px;
}
.p-drpdwn:hover .product-dropdown{
    display: block;
    opacity: 1;
    z-index: 1000000;
   

}
.product-dropdown:hover{
    opacity:1;
}
.product-dropdown a:hover{
    color: #25c8e0 ;
    
    opacity: 1;
    visibility: visible;
 
}
/* general style */
.nav-image{
    margin-right: 25px;
}

.nav-items{
    text-decoration: none;
    font-size: 18px;
    color: var(--FCOLOR);
    font-weight: 700;
    font-family: serif;
    
}
.nav-right{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    cursor: pointer;
    margin: 0%  2% 0% 17%;
}
.getstarted{
    padding: 10px 19px 10px 19px;
    border: 2px solid var(--FCOLOR);
    border-radius: 25px;
    font-size: 16px;
    color: var(--FCOLOR);
    font-weight: 700;
    font-family: serif;

   

}
.circle-user{
    height: 20px;
    width: 20px;
}
/* || MAIN HOME PAGE */
.home-page{
    background-color: var(--BGCOLOR);
}

.home__banner{
    display: flex;
    height: 770px;

}
.home__banner-textsec{
    margin:8% 0% 0% 12%;
}
.textsec-title{
    font-size: 65px;
    
}
.textsec-title::after{
    content: url("nopcommerce_files/border-bottom.png");
    width: 224px;
    height: 4px;
}
.textsec-title2{
    font-size: 27px;
    font-family: ui-monospace;
    line-height: 50px;
}
.h2-bold{
    font-weight: 700;
    font-size: 25px;
}
.home-banner-imgsec{
    background-image: url("nopcommerce_files/illustration.png");
    
    height: 606px;
    width: 100%;
}
/* BUTTON */
.home-banner-btns{
    margin: 50px 0px 0px 31px;
}
.home-banner-btn, .home-banner-btn2, .btn-features, .more-client-button, .integration-btn,.getstarted1,.view-demo {
    padding: 15px 39px 15px 39px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    font-family: serif;
    background-color: #25c8e0;
    margin-right: 47px;
}
.home-banner-btn2,.view-demo{
    border:2px solid var(--FCOLOR);
    background-color: #f0f0f0;
    color: var(--FCOLOR);
    
}
/* || CONTAINER-SECTION */

.whynopcommerce-section{
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 0px auto;
    background-color: #ffffff;

}

.container{
    display: flex;
    width: 100%;
    flex-flow: wrap;
    position: absolute;
    top: -95px;
    justify-content: space-between;

}
.section-1{
    width: 360px;
    height: 259px;
    border-radius: 25px;
    box-shadow:-3px -3px 4px 2px #8080801f;
    background-color: white;
    margin-bottom: 30px;
}
.img-experience{
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}
.section-1-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 25px;
}
.section-1-subtitle{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    font-family: sans-serif;

}

/* || BUSINESS */
.main{
    margin: 0px 100px 0px 100px;
}

.business{
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;

}
.business-stats{
    width:308px ;
    height: 435px;
    line-height: 28px;
}
.stats-title{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;

}
.stats-note{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}
/* BTN */

.btn-features{
    display: block;
    margin: 0px auto;
    border:2px solid var(--FCOLOR);
    background-color: #fff;
    color: var(--FCOLOR);
   
}
/* DATA */
.whynopcommerce-data{
    display: flex;
    justify-content: space-evenly;
    margin-top: 9%;
}

.data-1{
    width: 154px;
    height: 400px;

}
.data-2{
    width: 259px;
    height: 400px;
}
.data-img{
    width: 233px;
}

.data-title{
    font-size: 23px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}
.data-note{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;


}
/* DEVELOPER OWNER */

.developers-owners{
    display: flex;
}
.developers{
    border-right: 1.5px solid #e4e4e4;
    width: 50%;
}
.img-dev{
    background-image:url('nopcommerce_files/sprite-image.png');
    background-position: -238px -20px;
    background-repeat: no-repeat;
    width: 70px;
    height: 58px;
    margin: 0px auto;
}
.dev-title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 25px 0px 25px 0px;


}
.img-downarrow{
    background-image: url('nopcommerce_files/sprite-image.png');
    background-position: -426px -30px;
    background-repeat: no-repeat;
    width: 36px;
    height: 20px;
    margin: 0px auto;
}
.owners{
    width: 50%;
}
.img-own{
    background-image: url('nopcommerce_files/sprite-image.png');
    background-repeat: no-repeat;
    background-position: -330px -20px;
    width: 70px;
    height: 58px;
    margin: 0px auto;
   
}

/* || MAIN-1 */
.main-1{
    margin: 20px 100px 0px 100px;
    }
.main-1-title{
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    margin: 40px 0px 157px 0px;
}
.main-1-items{
    display: flex;
    justify-content: space-between;

}

.item{
    width: 43%;
    background-color:#f8f8f8;
    position: relative;
    padding: 100px 26px 0px 35px;

}
.client-site{
       background-color: white;
       box-shadow: -3px 0px 5px 2px #8080805c;
       position: absolute;
       left: 97px;
       bottom: 443px;
   
}
 .microsoft-logo{
    width:215px ;
    height: 110px;
   } 
.imgbox{
    width: 150px;
    height: 180px;
    background-color: red;
    align-items: end;
}
.ScottHunter{
    float: right;
    margin-top: -199px;
    border: 6px solid white;
    box-shadow: -3px 0px 5px 2px #8080805c;
    margin-right: -19px;


}
.ScottHunter-img{
    width: 283px;
    height: 300px;
    
}
.item-content, .item-content1{
    font-size: 19px;
    font-family: sans-serif;
    line-height: 34px;
}
.item-content1{
    width: 90%;
}
.client-detail{
    margin-top: 60px;
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    width: 346px;
    line-height: 22px;
}

/* || OUR CLIENTS */

.owl-dots{
    display: flex;
    justify-content: center;
    margin: 150px 0px 100px 0px;
}
 .owl-dot{
    font-size: 36px;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    background-color:#d8d8d8;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 10px;
 }
 .owl-dot:hover{
    background-color: black;
 }
 .client-title{
    font-size: 35px;
    text-align: center;
 }
 .our-clients{
    padding: 100px;
    background-color: #f3f3f3;
 }
 .plus-img, .plus-img-2{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
 }
 .plus-img-2{
    margin-top: 0px;
 }
 .plus-img1,.plus-img2{
    background-image: url('nopcommerce_files/plus.png');
    background-repeat: no-repeat;
    width: 75px;
    height: 61px;
 }
 .plus-img2{
    margin-top: 0px;
 }
.client-logo{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.client-logo li{
   width: 270px;
   height: 160px;
 }
 .client-btn, .intregation-button{
    text-align: center;
    margin-top: 18px;

 }
 .more-client-button,.integration-btn{
    border:2px solid var(--FCOLOR);
    background-color: #f0f0f0;
    color: var(--FCOLOR);
 }

 /* || ALL SERVICE SECTION */


.all-service-section{
    margin-top: 30px;
    padding:50px 170px 100px 199px;
}
 .service-section-title{
    font-size: 36px;
    text-align: center;
 }
 .all-service-data{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin: 50px 0px 50px 0px;
    
 }
 .service-1{
    width: 24%;
 }
/* || NOTE */

.try-nopcommerce{
    padding: 100px 0px 100px 0px;
    background-color: #f8f8f8;
}
.note{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
.try-nopcommerce-btns{
    text-align: center;
    margin-top: 40px;
}

/* || FOOTER */

.footer{
    background-image: url('nopcommerce_files/footer-bg.png');
    background-repeat: no-repeat;
    background-color:#363e4e;
    padding: 85px 150px 80px 180px;
}
.upper-footer{
    display: flex;
}
.section-i{
    width: 24%;
    text-align: center;
}
.section-ii{
    width: 100%;
    text-align: center;
    margin-top:10px ;
}
.section-i-heading {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    font-family: system-ui;
    color: white;
    margin-bottom: 15px;
}
  .hr{
    width: 60px;
    margin: 0px auto;
    border: 1px solid black;
  }  
.section-i-ul{
    list-style: none;
    line-height: 30px;
    margin-top: 14px;

}
.section-i-ul a{
    font-size: 18px;
    font-weight: 700;
    color:#919eab;
    text-decoration: none;
    cursor: pointer;
}
.section-i-ul a:hover{
    color: white;
    transition: 0.15s;
}
/* LOWER FOOTER */

.lower-footer{
    padding-top:80px ;
}
.social-media{
    text-align: center;
    
}
.social-media::before{
    border-bottom: 2px solid black ;
    width: 270px;
}

.facebook, .twitter, .linkedin{
    text-decoration: none;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #363e4e;
    text-align: center;
    display: inline-block;
    line-height: 45px;
    vertical-align: middle;
    margin: 0px 3px 0px 3px;


}
.fa-facebook-f,.fa-twitter, .fa-linkedin-in{
    font-size: 18px;
    color: white;
}
.social-media .facebook:hover{
    background-color: #3a5795;
    border: 2px solid #3a5795;
    transition: 0.15s;
}
.social-media .twitter:hover{
    background-color: #269bec;
    border: 2px solid #269bec;
    transition: 0.15s;

}
.social-media .linkedin:hover{
    background-color:#1773a3 ;
    border: 2px solid #1773a3;
    transition: 0.15s;

}
.Copyright{
    font-family: sans-serif;
    font-size: 13px;
    color:#919eab ;
    text-align: center;
    padding: 25px 0px 20px 0px;
}
.policies{
    text-align: center;
}
.policies a{
    text-decoration: none;
    font-size: 11px;
    color:#919eab ;
    text-align: center;
    margin: 3px;
    font-family: sans-serif;

}
.Reco-hosting{
    margin-top: 55px;
}
.hosting-title{
    font-size: 17px;
    color:#919eab ;
    text-align: center;


}
.hosting-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.everleap{
    background-image: url('nopcommerce_files/everleap.gif');
    width: 120px;
    height: 60px;
    margin-right: 20px;
}
.winhost{
    background-image: url('nopcommerce_files/winhost.gif');
    width: 120px;
    height: 60px;
    margin-right: 20px;

}
.softsvs{
    background-image: url('nopcommerce_files/softsys.png');
    width: 120px;
    height: 60px;

}

@media only screen and (max-width: 500px) {
    .header-nav{
        padding: 20px;
        justify-content: flex-start;
        position: sticky;
        width: 100%;
        background-color: white;
        height: 71px ;
        align-items: center;
    
    }
    ul.nav-left {
        display: none;
    }
    .nav-image{
        width: 140px;
        height: 21px;
    }
    .nav-items,.getstarted{
        display: none;
    }
    .navigation-button{
        display: inline ;
    
    }
    .fa-bars-sort{
        display: inline ;
        font-size: 20px;
    }
    .nav-right{
    margin-left: 17%;
    }
    .home__banner-textsec{
    margin: 4% 8% 0% 8%;
    }
    .textsec-title{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    }
    .textsec-title::after{
    display: none;
    }
    .textsec-title2{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    font-family: sans-serif;
    margin-bottom: 50px;
    }
    .h2-bold{
    font-size: 18px;
    
    }
    .home__banner{
    height: 450px;
    }
    .home-banner-imgsec{
    width: 0px;
    }
    .home-banner-btns{
    text-align: center;
    }
    .home-banner-btn, .home-banner-btn2, .btn-features, .more-client-button, .integration-btn,.getstarted1,.view-demo {
    padding: 15px 20px 15px 20px;
    margin-right: 15px;
    font-size: 15px;
    }
    .whynopcommerce-section{
    padding: 14px;
    }
    .container{
    flex-direction: column;
    top: -113px;
    margin: 3%;
    }
    .main{
    padding: 25px;
    margin: 220% 0px 0px 0px;
    }
    .developers-owners{
        flex-direction: column;
        align-items: center;
    }
    .developers{
        border-right: 0px;

    }
    .owners{
        margin-top: 60px;
    }
    .business{
    flex-direction: column;
    margin: 3%;
    }
    .img-busi{
        text-align: center;
    }
    .business-stats{
    width: 100%;
    }
    .btn-features{
    margin: 0px auto;
    }
    .whynopcommerce-data{
        flex-direction: column;
        align-items: center;
    }
    .main-1{
        margin: 20px 20px 20px 20px;
    }
    .main-1-items{
        flex-direction: column;

    }
    .main-1-title{
        margin-bottom: 0px;
    }
    .item{
        width: 100%;
        background-color:#ffffff;
        
    }
    .ScottHunter{
        float: none;
    margin-top: 0px;
    border: 0px;
    box-shadow: none;
    margin-right: 0px;
    text-align: center;

    }
    .item-content{
        width: 74%;
        text-align: center;
        margin: 0px auto;
    }
    .client-detail{
        width: 74%;
        text-align: center;
        margin: 0px auto;


    }
    .client-site{
        display: none;
    }
    .owl-dots{
        margin: 0px;
    }
    
       


}